.tests {
  color: gray;
}

.headerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 0;
}

.headerNavChanged {
  @extend .headerNav;
  width: 100%;

  position: fixed;
}
.backgroundNav {
  width: 100%;

  height: 100%;
  background-color: #c1b7ff7e;
  position: absolute;
  z-index: -1;
  -webkit-backdrop-filter: blur(10px); /* Required for Safari */
  backdrop-filter: blur(25px);
  // opacity: 0.5;
}
.photoDisplayGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  img {
    width: 100%;
  }
}
